div.baground1{
    width: 370px;
    height: 3630px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    float: left;
    margin-left: 100px;
    position: relative;
}
div.baground2{
    width: 370px;
    height: 3630px;
    // border: 1px solid grey;
    float:left;
    position: relative;
}
div.baground3{
    width: 370px;
    height: 3630px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    float: left;
    position: relative;
}
section.section1{
    width: 1120px;
    height: 500px;
    // border:1px solid red;
    margin-left: 110px;
    margin-top: 130px;
    display: flex;
    position: absolute;
   
    div.left{
        width: 550px;
        height: 390px;
        // border:1px solid green;
        h1{
            color: white;
            font-size: 42px;
            letter-spacing: 5px;
            margin-top: -45px;
            margin-bottom: 40px;
            span{
                color: #B19777;
            }
        }
       p{
           color:rgb(199, 197, 197);
       }
    }
    div.right{
        width: 500px;
        height: 390px;
        // border:1px solid red; 
        border-left: 1px solid grey;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        transition: 1s;
        div.bg{
            &:hover{
               width: 460px;
               height: 360px;
               transition: 1s;
            }
            width: 500px;
            height: 400px;
            border:1px solid #323232; 
            margin-left: 40px;
            margin-top: -40px;
            background-image: url(../image/about.jpg);
            background-size: 100%;
            background-position: center;
            div.bgmini{
                width: 220px;
                height: 70px;
                background-color: black;
                margin-top:360px;
                margin-left: 240px;
                box-sizing: border-box;
                padding-top: 25px;
            
                h3{
                    color: white;
                    font-size: 18px;
                    text-align: center;
                    
                    
                }
            }

        }
        
        
    }
}


@media only screen and(max-width:800px){
    section.section1{
        width: 700px;
        height: 1200px;
        display: block;
        margin-left: 30px;
        div.left{
            margin-bottom: 100px;
        }
        div.right{
            margin-bottom: 100px;
            width: 700px;
            div.bg{
                width: 450px;
            }
        }
    }
}
    
