header{
    
    nav.navbar{
        background-color: rgb(243, 243, 250);
        ul.navbar-nav{
            li{
                margin-left: 25px;
               a.nav-link{
                   color: black;
               }
            }
         }
      

    }
    img.logo{
        margin-left: 100px;
    }
    form{
        ul.navbar-nav{
            
           li{
               margin-left: 35px;
              
           }
        }
    }
}

ul.dropdown-menu{
   margin-left: -100px; 
    li{ 
        img{width: 220px; height: 280px; margin-left: -60px;border-radius: 30px;}
        list-style: none;
        margin-top: 12px;
    a{text-decoration: none; color: black; }
    }
    }
    li.has-dropdown{
        
        width: 200px;
        height: 300px;
         a.drop{ font-weight: bold;}
        ul{margin-left: -60px;}
    }






@media only screen and (max-width:700px){
    header{
        nav.navbar{
            background-color: rgb(243, 243, 250);
        }
        img.logo{
            margin-left: auto;
        }
        form{
            ul.navbar-nav{
                display: none;
               
            }
        }
    }

}



section.section1{
  z-index: 1;
    .container-fluid{
        
        z-index: 1;
        height: 800px;
        // border: 1px solid red;
        div.carousel-item {
            
            img{
                z-index: 1;
                width: 100%;
                height: 800px;
                
            }
            div.text{
                margin-top: -530px;
                width: 550px;
                height: 300px;
                position: absolute;
                margin-left: 100px;
                
                h2{
                    margin-bottom: 30px;
                    font-size: 42px;
                }
                 div.btn{
                     width: 180px;
                     height: 50px;
                     border:2px solid black;
                     margin-top: 40px;
                     text-align: center;
                     box-sizing: border-box;
                     padding-top: 10px;
                     border-radius: 0%;
                     animation-delay: 1s;
                     &:hover{background-color: #dd9742; border: 1px solid #dd9742 ;   a{color: white;} }
                     
                     a{
                         text-decoration: none;
                         color: black;

                     }
                 }
            }
        }
        div.carousel-indicators{
            button{
               &:hover{background-color: #704f26;}
               background-color: gray;
               width: 12px;
               height: 12px;
               border-radius: 50%;
               margin-top: -150px;
            }
        }
    }
    
}


@media only screen and(max-width:700px){
    section.section1{
        width: 650px;
        height: 600px;
        div.container-fluid{
        margin-left: 0%;
         width: 600px;
         height: 600px;
         div.carousel-item {
            width: 600px;
            height: 600px;

            img{
            
                width: 100%;
                height: 600px;
            
                
            }
            div.text{
                margin-top: -530px;
                width: 300px;
                height: 300px;
                position: absolute;
                margin-left: 30px;
                h2{
                    margin-bottom: 30px;
                    font-size: 30px;
                }
                p{font-size: 16px;}

            }
            
        }
        }
    }
    
}



div.barnerarea{
    position: absolute;
    width: 85%;
    height: 250px;
    // border: 1px solid red;
    background-color: white;
    margin-left: 100px;
    margin-top: -120px;
    z-index: 2;
    div.container{
      
        div.row{
         margin-top: 20px;
            div.col{
            //  border: 1px solid yellow;
             height: 220px;
             width: 320px;
             div.colone{
                 width: 350px;
                 height: 210px;  
                 border: 1px solid white;
                 background-image: url(../image/banner-sm-1.jpg);
                 background-size: 100%;
                 background-position: center;
                 transition: 0.5s;
                 div.banner__content{                  
                     margin-top: 60px;
                     margin-left: 30px;
                     transition: 0.5s;
                     h5{
                     a{
                        font-size: 18px;
                        color: black;
                        text-decoration: none;
                        &:hover{color: #e9ad63;}
                     }
                     }
                     a{
                         color: black;
                         text-decoration: none;
                         &:hover{color: #e9ad63;}
                     }
                 }
                 &:hover{
                     background-size: 110%;
                     background-position: center;
                     div.banner__content{margin-top: 90px;}
                 }
             }
             div.coltwo{
                width: 350px;
                height: 210px;  
                border: 1px solid white;
                background-image: url(../image/banner-sm-2.jpg);
                background-size: 100%;
                background-position: center;
                transition: 0.5s;
                div.banner__content{                  
                    margin-top: 60px;
                    margin-left: 30px;
                    transition: 0.5s;
                     h5{
                     a{
                        font-size: 18px;
                        color: black;
                        text-decoration: none;
                        &:hover{color: #e9ad63;}
                     }
                     }
                     a{
                         color: black;
                         text-decoration: none;
                         &:hover{color: #e9ad63;}
                     }
                    
                }
                &:hover{
                    background-size: 110%;
                    background-position: center;
                    div.banner__content{margin-top: 90px;}
                }
            }
            div.colthree{
                width: 350px;
                height: 210px;
                border: 1px solid  white;
                background-image: url(../image/banner-sm-3.jpg);
                background-size: 100%;
                background-position: center;
                transition: 0.5s;
                div.banner__content{                  
                    margin-top: 60px;
                    margin-left: 30px;
                    transition: 0.5s;
                     h5{
                     a{
                        font-size: 18px;
                        color: black;
                        text-decoration: none;
                        &:hover{color: #e9ad63;}
                     }
                     }
                     a{
                         color: black;
                         text-decoration: none;
                         &:hover{color: #e9ad63;}
                     }
                }
                &:hover{
                    background-size: 110%;
                    background-position: center;
                    div.banner__content{margin-top: 90px;}
                }
            }
            }
        }
    }
}

@media only screen and(max-width:700px) {
    
    div.barnerarea{
        position: absolute;
        width: 100%;
        height: 250px;
        // border: 1px solid red;
        background-color: white;
        margin-left: 30px;
        margin-top: -120px;
        z-index: 2;
        div.container{
          
            div.row{
            margin-left: 20px;
             margin-top: 20px;
                div.col{
                //  border: 1px solid yellow;
                 height: 300px;
                 width: 400px;
                 div.colone{
                     width: 500px;
                     height: 300px;  
                     border: 1px solid white;
                     margin-left: -40px;
                     background-image: url(../image/banner-sm-1.jpg);
                     background-size: 100%;
                     background-position: center;
                     transition: 0.5s;
                     div.banner__content{                  
                         margin-top: 110px;
                        
                         transition: 0.5s;
                         h5{
                         a{
                            font-size: 18px;
                            color: black;
                            text-decoration: none;
                            &:hover{color: #e9ad63;}
                         }
                         }
                         a{
                             color: black;
                             text-decoration: none;
                             &:hover{color: #e9ad63;}
                         }
                     }
                     &:hover{
                         background-size: 110%;
                         background-position: center;
                         div.banner__content{margin-top: 90px;}
                     }
                 }
                 div.coltwo{
                    width: 500px;
                    height: 300px;  
                    border: 1px solid #ffffff;
                    margin-left: -40px;
                    margin-top: 20px;
                    background-image: url(../image/banner-sm-2.jpg);
                    background-size: 100%;
                    background-position: center;
                    transition: 0.5s;
                    div.banner__content{                  
                        margin-top: 110px;
                        margin-left: 30px;
                        transition: 0.5s;
                         h5{
                         a{
                            font-size: 18px;
                            color: black;
                            text-decoration: none;
                            &:hover{color: #e9ad63;}
                         }
                         }
                         a{
                             color: black;
                             text-decoration: none;
                             &:hover{color: #e9ad63;}
                         }
                        
                    }
                    &:hover{
                        background-size: 110%;
                        background-position: center;
                        div.banner__content{margin-top: 90px;}
                    }
                }
                div.colthree{
                    width: 500px;
                    height: 300px;
                    margin-left: -40px;
                    margin-top: 40px;
                    border: 1px solid  white;
                    background-image: url(../image/banner-sm-3.jpg);
                    background-size: 100%;
                    background-position: center;
                    transition: 0.5s;
                    div.banner__content{                  
                        margin-top: 110px;
                        margin-left: 30px;
                        transition: 0.5s;
                         h5{
                         a{
                            font-size: 18px;
                            color: black;
                            text-decoration: none;
                            &:hover{color: #e9ad63;}
                         }
                         }
                         a{
                             color: black;
                             text-decoration: none;
                             &:hover{color: #e9ad63;}
                         }
                    }
                    &:hover{
                        background-size: 110%;
                        background-position: center;
                        div.banner__content{margin-top: 90px;}
                    }
                }
                }
            }
        }
    }
    
}